@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 6px;
    padding: 0;
    font-family: 'Cairo', sans-serif;
}
body{
   /* background-image: url(image/bg2.gif) ;
    background-size: 20%;
    background-repeat: repeat;*/
    background-image: url(image/bg.jpg);
    background-size: cover ;
    background-position-y: -200px;
    background-attachment: fixed;
    background-position-x: center;
}
.allPage{
    
    background-color: rgba(13, 13, 13, 0.6);
    box-shadow: 1px 3px 22px rgba(77, 142, 255, 0.45);
    border-radius: 10px;
    margin: auto;
    margin-top: 90px;
    margin-bottom: 40px;
    width: 700px;

}
.form{
    padding: 30px ;
    width: 492px;
    margin: 0 auto;
    
}
form{
    margin: auto;
    width: 600px;
}

input,textarea{
    height: 50px;
    width: 450px;
    border-radius: 23px;
    padding:0 20px;
    font-size: 19px;
    color: #000000;
    margin-right: auto ;
    margin-left: auto;
    background: rgb(255, 255, 255);
    border: 1px solid #696969;
    box-shadow: 1px 3px 22px rgb(17, 17, 17,0.45);
}
input::placeholder{
    color: rgb(17, 17, 17);
    opacity: 0.6;
}

textarea{
    resize: vertical;
    height: auto;
}
#message{
    color: white;
}
.btn{
    width: 234px;
    margin: 6px;
    background-color: rgb(62, 187, 0);
    border: 0;
    color: #ffffff;
}
.btn:hover{
    background-color: rgb(55, 160, 2);
    transform: scale(107%);
}

.Titre{
    text-align: center;
    font-size: 45px;
    color: white;
    text-shadow: 1px 3px 22px rgb(17, 17, 17,0.95);

}
